{% extends 'patient/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <body>
    <div class="main-container">

        <div class="content-container">
            <div class="welcome custom-font">
                <h2>Welcome to PulmoInsight!</h2>
                <p>Believe in the healing journey. <br>
                    Your health is our priority, <br>
                    We're here to accompany you throughout your journey to good health.</p>
            </div>

            <div class="notifications">
                <!-- Display unread notifications here -->
                <div class="notification-box">
                    <strong>Notification</strong>
                    {% if diagnosis_status %}
                        {% if diagnosis_status == "No" %}
                            <p>Your medical history is being diagnosed.<br> Please wait...</p>
                        {% elif diagnosis_status == "Yes" %}
                            <p>Your diagnosis has been completed!</p>
                            <p>Please go to the History page and <br> click "View" to see
                                the diagnosis record.</p>
                        {% endif %}
                    {% else %}
                        <p>No diagnosis records found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>

    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
            color: #fff; /* 文字颜色为纯白色 */
        }

        .main-container {
            display: flex;
            flex-direction: column;
            margin: 30px; /* 边距，根据实际情况调整 */
            height: 100%;
        }

        .content-container {
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .welcome {
            flex: 1;
            background-color: #003366; /* 左侧区域的背景颜色，深蓝色 */
            padding: 60px;
            border-radius: 5px;
        }

        .custom-font {
            color: white;
            font-size: 30px;
            font-weight: bolder;
        }

        .notifications {
            font-size: 25px;
            flex: 1;
            text-align: center;
            background-color: #d9534f; /* 右侧区域的背景颜色，红色 */
            padding: 80px;
            border-radius: 10px;
        }

        .notification-box {
            color: #721c24;
            {#background-color: chartreuse;#}
                        width: 110%;
            position: relative;
            left: -20px;
            top: -30px;
        }
    </style>

{% endblock %}
